<!DOCTYPE html>
<html lang="pt-br">
	<?xml version='1.0' encoding='UTF-8' ?>
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- <head th:replace="pet/layout/head :: head"> -->
<!-- <meta charset="utf-8" /> -->
<!-- </head> -->

<div th:insert="~{pet/layout/head :: head}">...</div>

<body class="hold-transition layout-top-nav layout-navbar-fixed"
	style="background-image: './imagens/MicrosoftTeams-image.png';">

	<section th:replace="pet/layout/slides :: slides">...</section>

	<nav th:replace="pet/layout/navbar :: navbar">...</nav>

	<header th:replace="pet/layout/banner :: banner">...</header>
	<section th:replace="pet/layout/container-info :: container-info">...</section>
	<div th:replace="pet/layout/container-postagem :: container-postagem">...</div>
	<section th:replace="pet/layout/container-revista :: container-revista">...</section>
	<div th:replace="pet/layout/footer-rodape :: footer-rodape">...</div>
	<div th:replace="pet/layout/footer :: footer">...</div>

	<!-- Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>

	<script src="./bootstrap/js/bootstrap.js"></script>

	<script>
		const myCarouselElement = document.querySelector('#myCarousel')
		const carousel = new bootstrap.Carousel(myCarouselElement, {
			interval : 3000, //aqui conttrola a velocidade do slide
			ride : "carousel" // aqui inicia automaticamente
		})
	</script>
</body>
</html>