<head  th:fragment="head">
    
    <?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adote fácil | Home</title>
    <link rel="icon" type="image/png" href="./MicrosoftTeams-image.png" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />

    <!-- css boostrap -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css" />
    <!-- css custon -->
    <link rel="stylesheet" href="./custon.css" />
</head>