<head  th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adote fácil | Home</title>
    <link rel="icon" type="image/png" href="./imagens/MicrosoftTeams-image.png" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />

    <!-- css boostrap -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css" />
    <!-- css custon -->
    <link rel="stylesheet" href="./custon.css" />
</head>